.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-image: url("./images/bg-pattern-top-mobile.svg"), url("./images/bg-pattern-bottom-mobile.svg");
  background-position: top left, bottom right;
  background-repeat: no-repeat;
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  /* 400, 500, 700 */
  font-style: normal;
  font-size: 18px;
  padding: 70px 24px;
  text-align: center;
  padding: 0px;
  padding: 14px;
}

.header-paragraph {
  line-height: 150%;
  color: hsl(303, 10%, 53%);
  margin: 40px 0px;
}

h1 {
  font-size: 2.2rem;
  color: hsl(300, 43%, 22%);
  margin: 50px 30px 0px 30px;

}

.testimonial {
  background-color: hsl(300, 43%, 22%);
}

.title {
  color: hsl(333, 80%, 67%);
}

.rating {
  background-color:hsl(300, 24%, 96%);
  border-radius: 10px;
  padding: 8px;
  margin: 16px 0px;
  padding: 8px;
}

.rating p {
  margin: 4px;
  color: hsl(300, 43%, 22%);
  font-weight: 700;
  font-size: 15px;

}

.rating img {
  margin: 4px;
  width: 16px;
}

.testimonial {
  border-radius: 10px;
  padding: 40px 36px;
  margin-bottom: 16px;
}

.testimonials {
  margin-top: 48px;
  margin-bottom: 88px;
}

.testimonial-top p {
  font-size: 16px;
  margin: 0px;
  line-height: 140%;
}

.name {
  font-weight: 500;
  color: hsl(0, 0%, 100%);
}

.title {
  font-weight: 400;
}

.testimonial-top {
  display: flex;
}

.testimonial-top img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 20px;
}

.testimonial-statement {
  text-align: start;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: hsl(300, 24%, 96%);
  margin-bottom: 0px;
}

@media screen and (min-width: 80rem) {
  body {
    padding: 96px 160px;
    background-image: url("./images/bg-pattern-top-desktop.svg"), url("./images/bg-pattern-bottom-desktop.svg");
    background-size: 40%, 80%;
    background-position: top left, bottom right;
  }

  .desktop-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  h1 {
    width: 70%;
    margin: 0px 16px 0px 0px;
    font-size: 3rem;
  }

  .header-paragraph {
    width: 80%;
  }

  .desktop-header-left {
    text-align: start;
  }
  .rating {
    display: flex;
    width: 70%;
    align-items: center;
    padding: 16px;
  }

  #rating2 {
    margin-left: 10%;
  }

  #rating3 {
    margin-left: 20%;
  }

  .testimonials {
    display: flex;
    gap: 24px;
    margin: 16px;
  }

  .testimonial {
    height: 50%;
  }

  #testimonial1 {
    margin-top: 0%;
  }

  #testimonial2{
    margin-top: 2.5%;
  }

  #testimonial3 {
    margin-top: 5%;
  }
}
